settings.py

# General
*.pyc
*.pyo
*.pyd
__pycache__/
*.sqlite3

# Secret keys
*.env
*.env.*

# Media files (uploaded user content)
/media/

# Static files (collectstatic)
/static/

# Django development server
*.log

# Dependency directories
venv/
env/
env3/
*.egg-info/
dist/
build/

# Development environment
*.DS_Store
*.vscode/
*.idea/
